* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    height: 100vh;
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1D1D23;

}
#timer-app {
    /* padding: 20px; */
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background: transparent;
    border: 1px solid red;
    padding: 20px;
    color: white;
}
#input-div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    max-width: 849px;
    background: #34344A;
    height: 132px;
    border-radius: 20px;
    padding: 20px;
    font-size: 48px;
}
#input-div #time-div {
    display: flex;
    gap: 10px;
}

#input-div #time-div .set-time {
    text-decoration: underline;
}

#input-div #timer-button {
    width: 124px;
    height: 52px;
    border-radius: 26px;
    background: #F0F757;
    border: none;
}
